[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
locust = "==1.5.1"
pycodestyle = "==2.5.0"
mypy = "==1.0.1"

[dev-packages]
pytest-cov = "==2.7.1"
autopep8 = "==1.4.4"
#appian-locust = {editable = true,path = "."}
twine = "==2.0.0"

[requires]
python_version = "3.7"
