[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
locust = "==2.15.1"
pycodestyle = "==2.5.0"
mypy = "==1.0.1"
uritemplate = "==4.1.1"

[dev-packages]
pytest-cov = "==2.7.1"
autopep8 = "==1.4.4"
#appian-locust = {editable = true,path = "."}
twine = "==2.0.0"
types-requests = "==2.28.11.15"
types-urllib3 = "==1.26.25.8"

[requires]
python_version = "3.10"
