[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
locust = "==2.40.2"
pycodestyle = "==2.13.0"
mypy = "==1.15.0"
uritemplate = "==4.1.1"
sseclient-py = "==1.8.0"
reportlab = "==4.4.4"
matplotlib = "==3.10.8"

[dev-packages]
pytest-cov = "==6.1.1"
autopep8 = "==2.3.2"
#appian-locust = {editable = true,path = "."}
twine = "==6.1.0"
types-requests = "==2.32.0.20250515"
types-urllib3 = "==1.26.25.14"

[requires]
python_version = "3.13"
